@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('./normalize.css');
@import url('./variables/palette.css');
@import url('./variables/main-variables.css');
@import url('./variables/themes.css');

* {
  line-height: 140%;
}

body {
  min-height: 100vh;
  background-color: var(--background-app);
  font-weight: 500;
  font-size: 16px;
  font-family: var(--font-family);
  user-select: none;
}

li {
  list-style: none;
}

input,
textarea {
  user-select: text;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--border-color);
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-black-300);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-purple-400);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

