:root {
  /* сolor palette */
  --color-purple-900: #400799;
  --color-purple-800: #5509cc;
  --color-purple-700: #6a0bff;
  --color-purple-600: #883cff;
  --color-purple-500: #a66dff;
  --color-purple-400: #c39dff;
  --color-purple-300: #d2b6ff;
  --color-purple-200: #e1ceff;
  --color-purple-100: #f0e7ff;
  --color-purple-50: rgb(240 231 255 / 50%);
  --color-red-900: #880727;
  --color-red-800: #af0932;
  --color-red-700: #d50b3e;
  --color-red-600: #f3164e;
  --color-red-500: #f53d6b;
  --color-red-400: #f76489;
  --color-red-300: #f98ba6;
  --color-red-200: #fbb1c4;
  --color-red-100: #fdd8e1;
  --color-red-25: rgb(253 216 225 / 25%);
  --color-yellow-900: #faaf00;
  --color-yellow-800: #ffc234;
  --color-yellow-700: #ffce5c;
  --color-yellow-600: #ffda85;
  --color-yellow-500: #ffe7ad;
  --color-yellow-400: #fff3d6;
  --color-yellow-300: #fffcf2;
  --color-yellow-200: #fff6e2;
  --color-green-900: #17663a;
  --color-green-800: #1e874c;
  --color-green-750: #008616;
  --color-green-700: #26a95f;
  --color-green-600: #2dca72;
  --color-green-500: #56d990;
  --color-green-400: #84e4ae;
  --color-green-300: #b2eecc;
  --color-green-200: #dff8ea;
  --color-green-100: #eefbf4;
  --color-green-007: #edf7ef;
  --color-black-1000: #141414;
  --color-black-900: #191919;
  --color-black-850: #222;
  --color-black-800: #303030;
  --color-black-700: #474747;
  --color-black-600: #5e5e5e;
  --color-black-500: #757575;
  --color-black-400: #8c8c8c;
  --color-black-300: #a3a3a3;
  --color-black-200: #bababa;
  --color-black-150: #d9d9d9;
  --color-black-100: #d1d1d1;
  --color-black-50: #e8e8e8;
  --color-black-30: #f8f8f8;
  --color-black-25: #f4f4f4;
  --color-white-900: #fff;
  --color-white-500: #ccc;
  --color-label-bg: rgb(209 209 209 / 27%);
  --color-code-gradient-end: #e8daff;
  --color-border: rgb(227 227 227 / 75%);
}
