.wrapper {
    background-color: var(--background-block);
    border-radius: 24px;
    padding: 24px 20px 24px 24px;
    align-items: center;
    box-sizing: border-box;
    min-width: 340px;
    box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
}

@media screen and (max-width: 770px) {
    .wrapper {
        margin: 0 12px;
    }
  }

@media screen and (max-width: 480px){
    .wrapper {
        padding: 12px 10px;
        max-width: 480px;
        margin: 0 12px;
    }
}