.wide {
  width: 240px;
}

.button--purple {
  color: var(--text-color-white);
  background-color: var(--background-primary);
  border-radius: 12px;
  height: 48px;
  width: 170px;
}

.button--transparent {
  color: var(--color-purple-800);
  background-color: transparent;
}

.button--transparent:hover {
  display: inline;
  text-decoration: underline;
}

.button {
  border: none;
  cursor: pointer;
  font-weight: var(--font-weight-600);
}

.button--purple:hover {
  background-color: var(--color-purple-800);
}

