.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 0 auto;
    align-items: start;
}

.skeleton__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .container {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: block;
    }
}