.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    width: 804px;
    margin: 0 auto;
}

.skeleton__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}