.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

.skeleton__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
    width: 100%;
}