.question__description {
  grid-area: description;
  margin: 0;
}
.question__image {
  grid-area: image;
  margin: auto 0;
  grid-row: 1 / span 2;
  align-self: start;
  height: fit-content;
}

.question__title {
  color: var(--text-color-primary);
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.back-button {
  position: absolute;
  display: flex;
  column-gap: 4px;
  top: -45px;
  max-width: 100px;
}

.back-button > div {
  transform: rotate(90deg);
}
