.link-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color-bright);
}

.link-button__text {
  margin: 0;
  padding: 4px;
}

.link-button__text--purple {
  color: var(--text-color-link-active);
  font-weight: var(--font-weight-500);
}

.active {
  background-color: var(--background-nav-item-hover);
  border-radius: 24px;
}

.active p {
  color: var(--text-color-link-active);
}