.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    color: var(--text-color-light);
  }

  .container {
    position: relative;
    margin-top: 75px;
  }

.back-button {
    position: absolute;
    display: flex;
    column-gap: 4px;
    top: -45px;
    max-width: 100px;
}

.back-button > div {
    transform: rotate(90deg);
}
  
.grid-container > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    ". title"
    "image description";
    gap: 20px;
  }

.question__image {
    grid-area: image;
    margin: auto 0;
    grid-row: 1 / span 2;
    align-self: start;
    height: fit-content;
}

.question__title {
    color: var(--text-color-primary);
    font-weight: 500;
    grid-area: title;
    margin: 0;
}

.question__answer__title {
    color: var(--text-color-primary);
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.question__description {
    grid-area: description;
    margin: 0;
}
  
  .grid-container > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .grid-container > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  .grid-container > :nth-child(4) {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
    height: fit-content;
  }

  .question__info__title {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0;
    opacity: 66%;
  }

  .question__info__skills {
    display: flex;
    padding: 0;
    gap: 10px;
  }

  .question__info__tags {
    display: flex;
    column-gap: 16px;
  }

  .question__info__keywords {
    display: flex;
    gap: 10px 16px;
  }

  .keyword {
    color: var(--color-purple-700);
  }