.base {
    background: linear-gradient(-90deg, var(--background-skeleton) 0%, var(--text-color-more-lightest) 50%, var(--background-skeleton) 100%);
    background-size: 400% 400%;
    animation: shimmer 1.5s ease-in-out infinite;
    border-radius: 4px;
  }

  .text {
    border-radius: 4px;
  }

  .rect {
    border-radius: 4px;
  }

  .circle {
    border-radius: 50%;
  }
  
  @keyframes shimmer {
    0% { background-position: 0% 0% }
    100% { background-position: -135% 0% }
  }