.questions-list__question {
    list-style: disc;
    border-bottom: var(--border-color) 1px solid;
    padding: 24px 0;
}

.question__flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}

.questions-list__question {
    position: relative;
}

.questions-list__question:nth-child(1) {
    border-top: var(--border-color) 1px solid;
}

.questions-list__question::marker {
    color: #5533ff;
    font-size: 16px;
}

.question__title {
    font-size: 20px;
    color: var(--text-color-bright);
    margin: 0;
}

.question__button {
    position: absolute;
    right: 0;
    transform: translateY(-100%);
}

.question__short-answer {
    margin-bottom: 48px;
}

.question__tags {
    margin: 24px 0;
    display: flex;
    column-gap: 40px;
}